{{#if posts.length}}
<section>
  <h2>Your Posts:</h2>
  <ol>
    {{#each posts as |post|}}
    <li id="post-list">
      {{> post-info post}}
      <button type="button" class="btn" id="edit-post-btn">
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
      </button>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<h2>Create New Post:</h2>

<section>
  <form class="new-post-form">
    <div>
      <label for="post-title"></label>
      <input type="text" id="post-title" name="post-title" placeholder="Title" />
    </div>
    <div>
      <label for="post-body"></label>
      <textarea name="post-body" id="post-body" placeholder="Your Post Content"></textarea>
    </div>
    <button type="submit" id="post-btn" class="btn">post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>