<article>
  <!--<a href="/dashboard">dashboard</a>-->
  <h2>
    Edit Post:
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" id="post-title" value="{{post.title}}" />
    </div>
    <div class="post-content">
      <textarea name="post-body" id="post-body">{{post.contents}}</textarea>
    </div>
    <div>
      on {{format_date post.created_at}}
    </div>
    <button type="submit" class="save-post-btn">save post</button>
    <button type="button" class="delete-post-btn">delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body" id="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="add-comment-btn">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/edit-post.js"></script>