<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="post-heading">
        <a href="/post/{{id}}">{{post.title}}</a> by {{post.user.username}}, {{post.created_at}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>